.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.formstyle{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  display:flex;
  flex-direction:column;
  width:30%;
  margin:10px;
  border:5px solid black;
  border-radius:12px;
  padding:30px;
  gap:7px;

}
.registerform{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  display:flex;
  flex-direction:column;
  width:30%;
  margin:10px;
  border:5px solid black;
  border-radius:12px;
  padding:30px;
  gap:7px;

}
.loginform{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  display:flex;
  flex-direction:column;
  width:30%;
  margin:10px;
  border:5px solid black;
  border-radius:12px;
  padding:30px;
  gap:7px;

}
.portal{
  display:flex;
  flex-direction: column;
}
.topheader{
  color:blue
}
.movie-poster{
  width:300px;
  height:400px;
  object-fit:fill;
  border-radius:20px;
}
.movie-spec{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.movie-container{
  margin:30px;
  padding:10px;
  width:auto;
  box-shadow:5px 10px 20px rgba(255, 0, 0, 0.813);
  border-radius:10px;
}
.likebtn, .dislikebtn{
  border:none;
  background-color:white;
}
.movie-list{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    gap:20px;
}